<!-- <p>home works!</p> -->
<!-- <hr> -->
<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
  [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper">
      <img [src]="image" alt="Random slide">
    </div>
    <div class="carousel-caption">
      <h3>Welcome to Delhi Delicacy</h3>
      <p>TRADITIONAL COOKING WITH A MODERN TWIST</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="row row-content align-items-center">
    <div class="col-12 col-sm-4 order-sm-last col-md-3">
      <h3>Our Lipsmacking Culinary Creations</h3>
    </div>
    <div class="col col-sm order-sm-first col-md">
      <div class="media">
        <img class="d-flex mr-3 img-thumbnail align-self-center" src="../../assets/images/uthappizza.png"
          alt="uthappizza">
        <div class="media-body">
          <h2 class="mt-0">Uthappizza <span class="badge badge-danger">HOT</span> <span
              class="badge badge-pill badge-secondary">$4.99</span></h2>
          <p>A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe
            vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.</p>
        </div>
      </div>


    </div>
  </div>

  <hr>
  <div class="row row-content align-items-center">
    <div class="col-12 col-sm-4 order-sm-first col-md-3">
      <h3>This Month's Promotions</h3>
    </div>
    <div class="col col-sm order-sm-last col-md">
      <div class="media">
        <div class="media-body">
          <h2 class="mt-0">Weekend Grand Buffet <span class="badge badge-danger">NEW</span></h2>
          <p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six
            main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person
          </p>
        </div>
        <img class="d-flex mr-3 img-thumbnail align-self-center" src="../../assets/images/buffet.png" alt="buffet">
      </div>

    </div>

  </div>
  <hr>
  <div class="row row-content align-items-center">
    <div class="col-12 col-sm-4 order-sm-last col-md-3">
      <h3>Meet our Culinary Specialists</h3>
    </div>
    <div class="col col-sm order-sm-first col-md">
      <div class="media">
        <img class="d-flex mr-3 img-thumbnail align-self-center" src="../../assets/images/alberto.png" alt="alberto">
        <div class="media-body">
          <h2 class="mt-0">Alberto Somayya</h2>
          <h4>Executive Chef</h4>
          <p>Award winning three-star Michelin chef with wide International experience having worked closely with
            whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences.
          </p>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <div class="row row-content justify-content-center">
    <div class="col-12 col-sm-8 ">
      <div class="card">
        <h3 class="card-header bg-warning text-white" id="reserve">
          Reserve a Table
        </h3>
        <div class="card-body">
          <div class="form-group row">
            <label for="guests" class="col-md-2 col-form-label">Number of Guests</label>
            <div class="col-md-10">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="guests" name="guests" class="custom-control-input">
                <label class="custom-control-label" for="guests">1</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="guests" name="guests" class="custom-control-input">
                <label class="custom-control-label" for="guests">2</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="guests" name="guests" class="custom-control-input">
                <label class="custom-control-label" for="guests">3</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="guests" name="guests" class="custom-control-input">
                <label class="custom-control-label" for="guests">4</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="guests" name="guests" class="custom-control-input">
                <label class="custom-control-label" for="guests">5</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="guests" name="guests" class="custom-control-input">
                <label class="custom-control-label" for="guests">6</label>
              </div>
            </div>

          </div>
          <div class="form-group row">
            <label class="col-md-2" for="dateTime">Date and Time</label>
            <div class="col-md-5">
              <input class="form-control" type="text" id="dateTime" placeholder="Date" onfocus="(this.type='date')">
            </div>
            <div class="col-md-5">
              <input class="form-control" type="text" id="dateTime" placeholder="Time" onfocus="(this.type='time')">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-md-2 col-md-10">
              <button type="submit" class="btn btn-primary">
                Reserve
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- <div class="btn-group" role="group" aria-label="Carousel toggle controls">
    <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
    <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
  </div> -->